name: CD
on:
  workflow_run:
    workflows:
      ['CI']
    types:
      - completed
  pull_request:
    branches:
      - main
jobs:
  cd:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Build docker image
        run: |
          docker build ./project -t pedram86/skin-cancer:latest

      - name: Log in and push to Docker Hub
        run: |
          echo "${{ secrets.DOCKERHUB_TOKEN_PROD }}" | docker login -u pedram86 --password-stdin
          docker push pedram86/skin-cancer:latest
          
