name: CD
on:
  workflow_run:
    workflows:
      ['CI']
    types:
      - completed
  pull_request:
    branches:
      - main
jobs:
  cd:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: build docker image
        run: |
          docker build -t skin-cancer:latest ./project

      - name: Log in and push to Docker Hub
        run: |
          docker login -u pedram86 -p ${{ secrets.DOCKERHUB_TOKEN_PROD }}
          docker push pedram86/skin-cancer:latest
          
