name: CD
on:
  workflow_run:
    workflows:
      ['CI']
    types:
      - completed
  pull_request:
    branches:
      - main
jobs:
  cd:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: build docker image
        run: |
          docker build -t skin-cancer-api:latest ./project

      - name: Log in to Docker Hub
        run: |
          docker login -u pedram86 -p ${{ secrets.DOCKERHUB_TOKEN_PROD }}
        
      - name: Push Docker Image to Docker Hub
        run: |
          docker tag skin-cancer-api:latest ${{ secrets.DOCKER_HUB_USERNAME }}/skin-cancer-api:latest
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/skin-cancer-api:latest
